*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace; */
}
body{ 
    scroll-behavior: smooth;
    background-color: rgba(211, 211, 211, 0.314);
}
.header{
    /* background-color: #ef402f; #ef402f */
    height: 100vh;
    position: relative;
}
.navbar{
    /* border: 2px solid black; */
    /* margin: 2% 5%; */
    /* margin: 20px ; */
    background-color: rgba(211, 211, 211, 0.314);
    
    position: fixed;
    z-index: 999;
    width: 100%;
    /* display: none; */
    animation-name: change-bg-color;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
}
 h2.logo a{
    /* color: black; */
    text-decoration: none;
    font-size: 180%;
    float: left;
    padding: 10px 0px 10px 30px;
    
    
}
.list-items{
    float: right;
    padding: 10px 100px 10px 0px;
    
}
.header .navbar .list-item{
    font-size: 150%;
    display: inline-block;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
a{
    color: black;
    font-size: 150%;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: #ef402f;
    transform: translateY(-0.5rem);
    /* text-decoration: underline; */
    box-shadow: black;
}
.hire:hover{
    transform: translateY(-0.5rem);
    color: white;
}
.list-item{
    transition: 0.5s;
}
.list-item:hover{
    transform: scale(1.1);
    /* color: #ef402f; */
}
ul li{
    /* color: white; */
    text-decoration: none;
    letter-spacing: 2px;
    padding-right: 25px;
}
.content{
    /* margin-top: 30%; */
    /* border: 1px solid black; */
    width: 50vw;
    /* background: #000;  */
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 45px;
    /* color: white; */
    padding: 5% 5% 15% 10%;
    position: absolute;
    margin-top: 10%;
    /* z-index: 999; */
    /* margin-left: 5%; */
    /* top: 20px; */
    /* margin-top: 10%; */
    /* display: inline-block; */

    font-family: inherit;
    /* font-size: 100%; */
}
a.hire{
    /* background-color: #ef402f; */
    border: 1px solid black;
    width: 50px;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    /* background-color: white; */
    /* transition: transform 2s ease-in-out ; */
}
.hire:hover{
    background-color: black;
}
.hireme{
    margin-top: 10px;
}
/*
.hireme:hover{
    transform: rotate(360deg);
} */
.image{
    /* border: 1px solid black; */
    float: right;
    width: 50vw;
    margin-top: 5%;
    /* position: relative; */
}
.img1{
    position: absolute;
    bottom: 0;
    height: 80vh;
    filter: drop-shadow(1px 1px 1px rgb(71, 71, 71));
    /* box-shadow: 10px 10px 20px black; */
    
    /* width: 50vw; */
}
/* .image::after{
    content: '';
    display: block;
    clear: both;
} */
/* ######################about######################### */
#about{
    /* background-color: #3a877c; */
    height: 100vh;
    margin-top: 50px;
    /* display: flex; */
    /* text-align: center; */
}
.about-h1{
    /* border: 1px solid red; */
    padding-left: 40px;
    /* margin-top: 2px; */
    margin-left: 10%;
    font-size: 35px;
   }
.about-list{
    /* border: 1px solid black; */
    margin-top: 0px;
    margin-left: 140px;
    padding: 30px;
    line-height: 30px;
    font-weight: bold;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  */
}
.about-content{
    /* border-left: 1px solid black; */
    font-weight: 200;
    list-style: circle;
    padding-top: 10px;
    /* padding-left: 20px; */
}
/* ######################knowledge########## */
#knowledge{
    height: 100vh;
    
}
#knowledge h1{
    /* margin-top: 20px; */
    margin-left: 12%;
    margin-bottom: 10px;
    font-size: 35px;
}
.knowledge1{
    padding: 10px 100px;
    height: 100vh;
}
.container-kng{
    /* border: 1px solid red; */
    margin: 0 50px;
    /* text-align: center; */
    /* align-items: center; */
} 
.primary-cont{
    /* border: 2px solid black; */
    height: 300px;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 70px;     
}
.img-box{
    /* border: 7px solid green; */
    width: 50%;
    /* height: 100%; */
    overflow: hidden;
}
.img2{
    width: 100%;
    height: 100%;
}
.text-box{
    /* border: 1px solid blue; */
    width: 50%;
    font-size: 15px;
    
}
.education{
    margin:10px;
}
.education-content ul{
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
    line-height: 25px;
    list-style: circle;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.technology{
    margin: 100 px;
}
.progress-bar{
    /* border: 1px solid red; */
    margin: 50px 0;
    /* width: 50%; */
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    line-height: 40px;
}

/* .img-box, .text-box{
    /* width: 50%; */
    /* height: 100%; 
    
} */
.primary-1{
    margin-bottom: 50px;
}
/* ###################contact############ */

#contact{
    height: 100vh;
    margin-top: 80px;
}

#contact h1{
    /* margin-top: 80px; */
    margin-left: 12%;
    font-size: 35px;
}
.cont-re{
    /* border: 1px solid green; */
    margin-top: 50px;
    margin-bottom: 30px;
}
.cont-re h3{
    margin-left: 12% ;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.form{
    /* border: 1px solid black; */
    /* display: flex; */
    margin-top: 10px;
    /* position: sticky;
    bottom: 0px; */
}
form{
    /* color: red; */
    margin-left: 10%;
    /* border: 1px solid red; */
    width: 50vw;
    height: 50vh;
}
/*
.text,.email-number{
    margin-left: 10px;
} */
.texttype{
    color: black;
    /* background-color: blue; */
    margin-left: 10px;
    margin-bottom: 10px;
    width: 45%;
    height: 15%;
    padding: 10px;
}
.e-num{
    margin-top: 10px;
    margin-left: 10px;
    width: 45%;
    height: 15%;
    padding: 10px;
}
.sub{
    margin-top: 20px;
    margin-left: 10px;
    width: 92%;
    height: 15%;
    padding: 10px;
}
#text{
    margin-top: 20px;
    margin-left: 10px;
    width: 92%;
    height: 30%;
    padding: 10px;
}
.submit{
    margin-top: 10px;
    margin-left: 20px;
    background-color: none;
    padding: 5px 10px;
}
.submit:hover{
    /* padding: 10px 15px; */
    transform: scale(1.4);
    /* transform: translateY(10px); */
}
/* ##########footer########### */
.footer{
    margin-top: 60px;
    height: 20vh;
    border-top: 1px solid #ef402f;
    background-color: black;
     text-align: center;
}
.social-media-link i{
    margin: 5px;
}
.social{
    color: #ef402f;
}
.last-line{
    margin-top: 50px;
    color: #ef402f;
}
.ad{
    color: white;
}
.social-media-link a:hover{
    color: white;
}




/* ###############animation############3 */
/* @keyframes change-bg-color{
    from{
        background-color: rgba(211, 211, 211, 0.314);
    }
    to{
        background-color: rgba(211, 211, 211, 0.314);
        color: black;
    }
} */